---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Anders Nylund">
  <main>
    <h1>anders nylund.</h1>
    <div class="image-container">
      <img alt="Gorgeous picture of me" src="/profile.jpg" />
    </div>
    <p class="about">
      Fullstack web developer. I love to solve problems and create stuff. I
      constantly learn and build things with my freshly acquired skills. Some
      more I love to combine the technical and "soft" parts of software
      development and I think that developer's voice should be heard more. I
      want to create products that help people in their everyday life and make
      everyone a bit more productive and able to enjoy their life more.
    </p>
    <section class="tech">
      <p>
        During my career I have used the following technologies, more or less
      </p>
      <ul class="list">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>React</li>
        <li>Node</li>
        <li>Express</li>
        <li>Java</li>
        <li>Spring Framework</li>
        <li>Gatsby</li>
        <li>Next.js</li>
        <li>RestAPIs</li>
        <li>GraphQL</li>
        <li>Python</li>
        <li>Django</li>
        <li>MySQL</li>
        <li>PostgreSQL</li>
        <li>Docker</li>
        <li>AWS</li>
        <li>Azure</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>Contentful</li>
        <li>Git</li>
        <li>TravisCI</li>
        <li>Web</li>
        <li>Accessibility</li>
        <li>Azure Pipelines</li>
      </ul>
    </section>
    <p class="contact">
      You can contact me at <a href="mailto:anders@nylund.co"
        >anders@nylund.co</a
      >
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .image-container {
    margin: 3rem 0;

    display: flex;
    justify-content: center;
  }

  img {
    object-fit: cover;
    width: 25ch;
    height: 25ch;
    border-radius: 50%;
  }

  .about {
    background-color: white;
    padding: 1rem;
    margin: 3rem 0;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    box-shadow: 2px 5px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .tech {
    margin: 3rem 0;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 2px 5px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .list {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  .list li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .contact {
    margin-top: 2rem;
    text-align: center;
  }

  .contact a {
    color: initial;
    font-weight: 600;
  }
</style>
